{% extends 'base/base.html' %}
{% load placeholders %}
{% block main %}
    <div class="edit-delete">
        <h2>Edit Profile</h2>

        <form method="post" action="{% url 'edit_user' pk=object.pk %}" enctype="multipart/form-data">
            <div style="margin-bottom: 5px" class="label-input">
                 <label for="id_first_name">First name: </label>

                {{ form.first_name | placeholder:'First Name' }}
            </div>
            <div style="margin: 5px 0px" class="label-input">
                 <label for="first name"></label>
                {{ form.first_name.errors }}
            </div>


            <div style="margin-bottom: 5px" class="label-input">
                <label for="id_last_name">Last name: </label>
                {{ form.last_name | placeholder:'Last Name' }}
            </div>
            <div style="margin: 5px 0px" class="label-input">
                 <label for="last name"></label>
                {{ form.last_name.errors }}
            </div>

            <div style="margin-bottom: 5px" class="label-input">
                 <label for="id_email">Email: </label>
                <input type="text" name="email" placeholder="Email" id="id_email" value="{{ object.email }}">
            </div>
            <div style="margin: 5px 0px" class="label-input">
                 <label for="email"></label>
                {{ form.email.errors }}
            </div>

            <div style="margin-bottom: 5px" class="label-input">
                 <label for="id_profile_picture">Image: </label>
                <input type="file" name="profile_picture" accept="image/*" id="id_profile_picture">
            </div>
            <div class="label-input">
                <label for="id_gender">Gender: </label>
                {{ form.gender | placeholder:'Gender' }}
            </div>
            {% csrf_token %}


            <button class="edit-btn" type="submit">Edit</button>
        </form>


    </div>

{% endblock %}