{% extends 'base/base.html' %}
{% load static %}

{% block main %}
    <div class="profile">

        <div class="profile-data">
            <div class="profile_img">
                <div class="image">

                    {% if profile.profile_picture %}
                        <img src="{% get_media_prefix %}{{ profile.profile_picture }}" alt="img8">
                    {% else %}
                        <img src="{% static '/images/person.png' %}" alt="img8">
                    {% endif %}

                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ object.username }}</p>

                    {% if is_owner %}
                        <a href="{% url 'edit_user' object.pk %}">
                            <img class="edit-img" src="{% static '/images/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>

                        <a href="{% url 'delete_user' object.pk %}">
                            <img class="bin-img" src="{% static '/images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>

                    {% endif %}


                </div>
                <div class="data">

                    <span>{{ photos.count }}</span>
                    <p>photos</p>

                    <span>{{ pets.count }}</span>
                    <p>pets</p>

                    <span>{{ likes }}</span>
                    <p>likes</p>
                </div>
                {% if profile.first_name and profile.last_name %}
                    <h3 class="names">Name: {{ profile.full_name }}</h3>
                {% elif profile.first_name and not profile.last_name %}
                    <h3 class="names">Name: {{ profile.first_name }}</h3>
                {% else %}
                    <h3 class="names">Name: {{ profile.last_name }}</h3>
                {% endif %}

                {% if object.email %}
                    <p class="email">Email: {{ object.email }}</p>
                {% endif %}

                {% if profile.gender %}
                    <p class="gender">Gender: {{ profile.gender }}</p>
                {% endif %}
            </div>
        </div>

        <div class="pets">
            <div class="statuses">


                {% for pet in pets %}
                    <a href="{% url 'details_pet'  username=request.user.username slug=pet.slug %}">
                        <div class="head-pet">
                            <div class="status">
                                <div class="image">
                                    <!-- Pet Image -->
                                    <img src="{{ pet.personal_photo }}">
                                </div>
                            </div>
                            <!-- Pet Name -->
                            <p>{{ pet.name }}</p>
                        </div>
                    </a>
                {% endfor %}

            </div>
        </div>

        <div class="pet-photos">
            {% for photo in photos %}
                <a href="{% url 'details_photo' pk=photo.id %}">
                    <!-- Pet Photo -->
                    <img src="{% get_media_prefix %}{{ photo.photo }}">
                </a>
            {% endfor %}

        </div>


    </div>

{% endblock %}