{% extends 'base/base.html' %}

{% block main %}
    <!-- Start Edit Pet Section -->
    <div class="edit-delete edit-photo">
        <h2>Edit Pet</h2>
        <!-- Start Edit Pet From -->
        <form method="post" action="{% url 'edit_pet' username=username pet_slug=slug %}">
            {{ form.as_p }}
            <button class="edit-btn" type="submit">Edit</button>
            {% csrf_token %}
        </form>
        <!-- End Edit Pet Form -->

    </div>
    <!-- End Edit Pet Section -->
{% endblock %}